<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The Caltech Archives Present: There's something about Harry!"

>
  <image imageURL="images/logo Archives FB.jpg"
	thumbURL="thumbs/logo Archives FB.jpg"
	linkURL="images/logo Archives FB.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\logo Archives FB.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1  HG.jpg"
	thumbURL="thumbs/1  HG.jpg"
	linkURL="images/1  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\1  HG.jpg">
    <title><![CDATA[Harry Burkus Gray]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/2  HG.jpg"
	thumbURL="thumbs/2  HG.jpg"
	linkURL="images/2  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\2  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Teacher, 1970]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/3  HG.jpg"
	thumbURL="thumbs/3  HG.jpg"
	linkURL="images/3  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\3  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Teacher, 1970]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/4  HG.jpg"
	thumbURL="thumbs/4  HG.jpg"
	linkURL="images/4  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\4  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Teacher, 1975]]></title>
    <caption><![CDATA[(Photo credit F. Clark)]]></caption>
  </image>
  <image imageURL="images/5  HG.jpg"
	thumbURL="thumbs/5  HG.jpg"
	linkURL="images/5  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\5  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Teacher]]></title>
    <caption><![CDATA[Teaching on Halloween, 1977. (Photo credit F. Clark)]]></caption>
  </image>
  <image imageURL="images/6  HG.jpg"
	thumbURL="thumbs/6  HG.jpg"
	linkURL="images/6  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\6  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Scientist, 1977]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/7  HG.jpg"
	thumbURL="thumbs/7  HG.jpg"
	linkURL="images/7  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\7  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Scientist, 1977]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/8  HG.jpg"
	thumbURL="thumbs/8  HG.jpg"
	linkURL="images/8  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\8  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Scientist, 1979]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/9  HG.jpg"
	thumbURL="thumbs/9  HG.jpg"
	linkURL="images/9  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\9  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Scientist]]></title>
    <caption><![CDATA[With Nobel Prize winner Linus Pauling, 1978. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/10 HG.jpg"
	thumbURL="thumbs/10 HG.jpg"
	linkURL="images/10 HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\10 HG.jpg">
    <title><![CDATA[The Many sides of Harry - Commencement Speaker (& “Philosopher”!)]]></title>
    <caption><![CDATA[Commencement, June 13, 1975. (Photo credi F. Clark)]]></caption>
  </image>
  <image imageURL="images/11  HG.jpg"
	thumbURL="thumbs/11  HG.jpg"
	linkURL="images/11  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\11  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Commencement Speaker (& “Philosopher”!)]]></title>
    <caption><![CDATA[June 13, 1975, giving his Commencement Address entitled “The Chemistry Of Caltech”. Reprinted in the Oct/Nov 1975 E&S issue: http://tinyurl.com/odo4a59  (Photo credit F. Clark)]]></caption>
  </image>
  <image imageURL="images/12  HG.jpg"
	thumbURL="thumbs/12  HG.jpg"
	linkURL="images/12  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\12  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Commencement Speaker (& “Philosopher”!)]]></title>
    <caption><![CDATA[Part of Dr. Gray’s “FEG Formula”—his three-part prescription for graduating seniors. “F” for Feynman:  “Have absolute scientific integrity.” “E” for Einstein:  “Do Science but with concern for mankind.” “G” for Gray:  “If you don’t love it, don’t do it.” (Photo credit F. Clark)]]></caption>
  </image>
  <image imageURL="images/13  HG musical1.jpg"
	thumbURL="thumbs/13  HG musical1.jpg"
	linkURL="images/13  HG musical1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\13  HG musical1.jpg">
    <title><![CDATA[The Many sides of Harry -  Theatrical Star]]></title>
    <caption><![CDATA[As “Harry the Horse” the crapshooter in Caltech’s musical production of Guys and Dolls, February 1977. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/14  HG musical2.jpg"
	thumbURL="thumbs/14  HG musical2.jpg"
	linkURL="images/14  HG musical2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\14  HG musical2.jpg">
    <title><![CDATA[The Many sides of Harry -  Theatrical Star]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/15  HG with AOB.jpg"
	thumbURL="thumbs/15  HG with AOB.jpg"
	linkURL="images/15  HG with AOB.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\15  HG with AOB.jpg">
    <title><![CDATA[The Many sides of Harry - Respected and Honored Professional]]></title>
    <caption><![CDATA[Arnold Beckman congratulating Harry Gray on becoming the first Arnold O. Beckman Professor of Chemistry, 1981. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/16  HG 1986.jpg"
	thumbURL="thumbs/16  HG 1986.jpg"
	linkURL="images/16  HG 1986.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\16  HG 1986.jpg">
    <title><![CDATA[The Many sides of Harry - Respected and Honored Professional]]></title>
    <caption><![CDATA[Harry Gray receiving the 1986 National Medal of Science from President Ronald Reagan at the White House. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/17  HG with hard hat.jpg"
	thumbURL="thumbs/17  HG with hard hat.jpg"
	linkURL="images/17  HG with hard hat.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\17  HG with hard hat.jpg">
    <title><![CDATA[The Many sides of Harry - Respected and Honored Professional]]></title>
    <caption><![CDATA[The Founding Director of the Beckman Institute, October 1989. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/18  HG with sculpture.jpg"
	thumbURL="thumbs/18  HG with sculpture.jpg"
	linkURL="images/18  HG with sculpture.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\18  HG with sculpture.jpg">
    <title><![CDATA[The Many sides of Harry - Respected and Honored Professional]]></title>
    <caption><![CDATA[Harry Gray, together with William P. Schaefer, designed the sculpture “The Polyhedron with 432 Symmetry,” located in the Glanville Courtyard of the Beckman Institute, October 1989.  In 1992, the City of Pasadena deemed it to be one of the ten best examples of public art. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/19  HG.jpg"
	thumbURL="thumbs/19  HG.jpg"
	linkURL="images/19  HG.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\19  HG.jpg">
    <title><![CDATA[The Many sides of Harry - Respected and Honored Professional]]></title>
    <caption><![CDATA[Dr. Gray wearing Columbia University’s commencement gown, with the white-striped symbol of an honorary degree from France’s University of Paul Sabatier, on the occasion of receiving an honorary doctorate from Columbia, where he taught from 1961 to 1966.  May 27, 1994.. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/20  Gray 60 B-day.jpg"
	thumbURL="thumbs/20  Gray 60 B-day.jpg"
	linkURL="images/20  Gray 60 B-day.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\20  Gray 60 B-day.jpg">
    <title><![CDATA[The Many sides of Harry - Harry just being Harry!]]></title>
    <caption><![CDATA[Celebrating his 60th birthday in 1995. (Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/21  Gray 2.jpg"
	thumbURL="thumbs/21  Gray 2.jpg"
	linkURL="images/21  Gray 2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\21  Gray 2.jpg">
    <title><![CDATA[The Many sides of Harry - Harry just being Harry!]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
  <image imageURL="images/22  HG with hat.jpg"
	thumbURL="thumbs/22  HG with hat.jpg"
	linkURL="images/22  HG with hat.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\epiccio\Desktop\Test\22  HG with hat.jpg">
    <title><![CDATA[The Many sides of Harry - Harry just being Harry!]]></title>
    <caption><![CDATA[(Photographer unknown)]]></caption>
  </image>
</juiceboxgallery>